<h1>My Watch Lists</h1>
<%= link_to "New list", new_list_path, class: "btn btn-primary" %>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4">
      <%= link_to list.name, list_path(list) %>
      <%= button_to "Delete", list_path(list), method: :delete, class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>
