<%# Navbar now lives in the layout (app/views/layouts/application.html.erb) %>

<div class="container form-wrap">
  <h1 class="section-heading mb-4">New list</h1>

  <%= render "form", list: @list %>
</div>
